{
"globals": {
    "describe": true,
    "it": true,
    "localStorage", true,
    "window":   true,
},
 "rules":{
        "no-console":0,
         "no-tabs": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
         func-names: ["error", "never"],
         no-underscore-dangle: ["error", { "allow": ["_id"] }],
         react/jsx-indent: ["error", tab],
         indent: ["error", tab],
},

"extends": "eslint-config-airbnb"
}
